<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="layout.css">
    <title>Toys Management</title>
</head>

<body>
    <div class="header">
        <h1>My Website</h1>
        <p>Resize the browser window to see the effect.</p>
    </div>

    <div class="topnav">
        <a href="">Insert a new Product</a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <table border="1" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Producer</th>
                            <th>Delete data</th>
                        </tr>
                    </thead>
                    {{#each model}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                        <td>{{producer}}</td>
                        <td>
                            <a href="/remove?id={{_id}}">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui official deserunt mollit anim..</p>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>


</body>

</html>